<h1><%= action %> location</h1>
<p> Where should we add to our database? <p>

<%= form_for location do |f| %>
  <div class="form-group">
    <%= f.label :zipcode %>
    <%= f.text_field :zipcode, class: 'form-control'%>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>